.acadians_logo {
    width: 91px;
}

.acadians_header {
    display: flex;
    justify-content: center;
}

.acadians_cercle {
    position: absolute;
    top: 0px;
    width: 745px;
    height: 187px;
    max-width: 100%
}

.acadians_text {
    padding-top: 30px;
    width: 434px;
    height: 88px;
    object-fit: cover;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.photos-page .image-lightbox{
    min-height: 30vh;
}


.home {
    height: 100%;
}

.top_container {
    display: flex;
    justify-content: center;
}

.top_top {
    position: absolute;
    top: 0;
}

.button_enter {
    position: fixed;
    bottom: 30px;
}


@media screen and (max-width: 480px) {
    .royalSlider,
    .rsOverflow {
        max-height: 30vh;
    }
}

@media screen and (max-width: 849px) {

    .home {
        display: none;
    }
}